// Declaramos los distintos colores 
$Verde_Azul: #4CB8B3; 
$Rosa: #F53756;
$Amarillo: #FEF46D;
$Morado: #752F97;
$Negro: #000;
$Blanco: #fff;

// Declaramos las distintas fuentes(Estilo de letras)
$Fuente_Prinipal: "Montserrat", sans-serif;